.tool-tip {
  color: #18113b;
  background-color: #f1f3f5;
  position: absolute;
  z-index: 10;
  padding: 12px;
  font-size: 12px;
  cursor: default;
  border-radius: 3px;
  box-shadow: 0 0 0.3rem rgb(0 0 0 / 16%);
  bottom: calc(100% + 18px);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 250px;
}

.tool-tip span {
  bottom: -4px;
  left: calc(50% - 10px);
  border-right: 5px solid transparent;
  border-top: 5px solid #f1f3f5;
  border-left: 5px solid transparent;
  position: absolute;
  width: 0;
  height: 0;
}
